html, body {
  position: relative;
  height: 100%; }

.perspective {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  position: relative;
  -webkit-perspective: 1800px;
  -moz-perspective: 1800px;
  -o-perspective: 1800px;
  perspective: 1800px; }

.modalview {
  position: fixed; }

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.animate {
  -webkit-transform-origin: 50% 120%;
  -moz-transform-origin: 50% 120%;
  -o-transform-origin: 50% 120%;
  transform-origin: 50% 120%;
  -webkit-transform: translateZ(-1500px) rotateX(80deg);
  -moz-transform: translateZ(-1500px) rotateX(80deg);
  -o-transform: translateZ(-1500px) rotateX(80deg);
  transform: translateZ(-1500px) rotateX(80deg); }

.overflow {
  overflow: hidden; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.wrapper-animate {
  -webkit-transform: translateZ(-1px);
  /* solves a rendering bug in Chrome on Windows */ }

.shadow {
  background-color: #585858;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  opacity: 0;
  -webkit-box-shadow: 0 5px 50px 0 black;
  -moz-box-shadow: 0 5px 50px 0 black;
  -o-box-shadow: 0 5px 50px 0 black;
  box-shadow: 0 5px 50px 0 black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: 50% 130%;
  -moz-transform-origin: 50% 130%;
  -o-transform-origin: 50% 130%;
  transform-origin: 50% 130%; }

.animate-shadow {
  opacity: 0.25;
  -webkit-transform: translateZ(-1600px) rotateX(80deg);
  -moz-transform: translateZ(-1600px) rotateX(80deg);
  -o-transform: translateZ(-1600px) rotateX(80deg);
  transform: translateZ(-1600px) rotateX(80deg); }

.nav {
  position: absolute;
  top: 30%;
  left: 45%;
  z-index: 10; }

.nav a {
  opacity: 0;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease 0.2s;
  -moz-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s; }

.nav-animate a {
  opacity: 1; }

.nav-animate a:first-child {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.nav-animate a:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.nav-animate a:nth-child(3) {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s; }

.nav-animate a:nth-child(4) {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s; }

.nav-animate a:nth-child(5) {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

/*# sourceMappingURL=animation.css.map */
