/* ------------------Reset--------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse; }

img {
  vertical-align: top; }

embed {
  vertical-align: top; }

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block; }

mark, rp, rt, ruby, summary, time {
  display: inline; }

input, textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0; }

iframe {
  border: 0;
  margin: 0;
  padding: 0; }

input, textarea, select {
  margin: 0;
  padding: 0; }

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0; }

/* ------------------Variables-------------------- */
/* --------------------Global--------------------- */
* {
  box-sizing: border-box; }

[class*="col-"] {
  position: relative;
  float: left;
  height: 100%; }
  @media (max-width: 580px) {
    [class*="col-"] {
      width: 100%;
      float: none;
      height: auto; } }

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  min-width: 320px; }

.row {
  position: relative;
  width: 100%;
  clear: both; }

a {
  text-decoration: none;
  color: black; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto; }

.title {
  font-size: 3em;
  line-height: 1em;
  font-family: "Cormorant Garamond", serif; }
  @media (max-width: 1250px) {
    .title {
      font-size: 2em; } }
  @media (max-width: 580px) {
    .title {
      text-align: center;
      padding: 5% 0; } }

@media (max-width: 870px) {
  .subtitle {
    font-size: 0.8em;
    line-height: 1.5em; } }

@media (max-width: 1250px) {
  .text {
    font-size: 0.8em; } }

/* ------------------Header-------------------- */
.minimenu {
  position: relative;
  width: 100%;
  height: 4em;
  background-color: #feeaea; }
  .minimenu i {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 30px;
    /*it doesn't work with em*/
    cursor: pointer; }
    .minimenu i:hover {
      color: white; }
    @media (max-width: 1250px) {
      .minimenu i {
        right: 5%; } }
  .minimenu .logo {
    position: absolute;
    left: 10%; }
    @media (max-width: 1250px) {
      .minimenu .logo {
        left: 5%; } }

/* ------------------Content------------------- */
.home {
  position: relative;
  width: 100%; }
  @media (max-width: 580px) {
    .home {
      height: 100%;
      background: url(../images/home.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .home img {
        display: none; } }
  .home .caption {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 10; }
    @media (max-width: 1250px) {
      .home .caption {
        left: 5%; } }
    @media (max-width: 580px) {
      .home .caption {
        height: 22em;
        position: relative;
        top: 0;
        left: 0;
        padding: 5%;
        text-align: justify; } }
    .home .caption .button {
      margin-top: 3em; }
      @media (max-width: 1250px) {
        .home .caption .button {
          margin-top: 2em; } }
      @media (max-width: 870px) {
        .home .caption .button {
          display: none; } }
      @media (max-width: 580px) {
        .home .caption .button {
          display: block;
          margin: 15% 0 5% 25%; } }
      .home .caption .button a {
        z-index: 11;
        background-color: #eafefe;
        padding: 0.8em 1.8em; }
        .home .caption .button a:hover {
          color: white;
          background-color: black; }
  @media (max-width: 580px) {
    .home {
      background: url(../images/home-mobile.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

.about1 {
  position: relative;
  height: 35em;
  padding-left: 10%; }
  @media (max-width: 1250px) {
    .about1 {
      padding-left: 5%;
      height: 25em; } }
  @media (max-width: 870px) {
    .about1 {
      height: 22em; } }
  @media (max-width: 580px) {
    .about1 {
      display: none; } }
  .about1 img {
    margin: 0; }

.about2 {
  position: relative;
  height: 35em;
  text-align: right;
  padding-right: 10%; }
  @media (max-width: 1250px) {
    .about2 {
      padding-right: 5%;
      height: 25em; } }
  @media (max-width: 870px) {
    .about2 {
      height: 22em; } }
  @media (max-width: 580px) {
    .about2 {
      height: 100%;
      text-align: justify;
      padding: 0 10%; } }
  .about2 .about-text {
    height: 20em; }
    @media (max-width: 1250px) {
      .about2 .about-text {
        height: 13em; } }
    @media (max-width: 580px) {
      .about2 .about-text {
        height: 22em; } }
  .about2 h2 {
    padding: 10% 0 5% 0; }
    @media (max-width: 580px) {
      .about2 h2 {
        padding: 25% 0;
        font-size: 2em; } }
  .about2 p {
    line-height: 2.5em; }
    @media (max-width: 1250px) {
      .about2 p {
        line-height: 2em; } }
    @media (max-width: 580px) {
      .about2 p {
        font-size: 1em;
        line-height: 1.5em; } }

.also1 {
  position: relative;
  height: 38em;
  text-align: left;
  padding-left: 10%; }
  @media (max-width: 1250px) {
    .also1 {
      padding-left: 5%;
      height: 31em; } }
  @media (max-width: 870px) {
    .also1 {
      height: 22em; } }
  @media (max-width: 580px) {
    .also1 {
      height: 100%;
      text-align: justify;
      padding: 0 10%; } }
  .also1 h2 {
    margin: 10% 0 5% 0; }
    @media (max-width: 580px) {
      .also1 h2 {
        padding: 25% 0;
        font-size: 2em; } }
  .also1 p {
    padding: 0 5% 5% 0;
    line-height: 2.5em; }
    @media (max-width: 1250px) {
      .also1 p {
        line-height: 2em; } }
    @media (max-width: 580px) {
      .also1 p {
        line-height: 1.5em;
        padding: 0 0 5% 0;
        font-size: 1em; } }

.also2 {
  position: relative;
  height: 38em; }
  @media (max-width: 1250px) {
    .also2 {
      height: 31em; } }
  @media (max-width: 870px) {
    .also2 {
      height: 22em; } }
  @media (max-width: 580px) {
    .also2 {
      height: 100%;
      background: url(../images/jacket2.png) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }
  .also2 img {
    margin: 0;
    max-height: 100%;
    position: absolute;
    right: 20%; }
    @media (max-width: 1250px) {
      .also2 img {
        right: 10%; } }
    @media (max-width: 580px) {
      .also2 img {
        display: none; } }

@media (max-width: 580px) {
  .models {
    display: none; } }
.models h2 {
  text-align: center;
  padding: 5%; }
.models .model {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  position: relative;
  height: 30em;
  padding-bottom: 5%; }
  @media (max-width: 1250px) {
    .models .model {
      height: 28em; } }
  @media (max-width: 580px) {
    .models .model {
      height: 45em;
      display: block; } }
  .models .model h3 {
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding: 5% 5% 5% 0; }
    @media (max-width: 580px) {
      .models .model h3 {
        text-align: center; } }
  .models .model p {
    width: 80px;
    float: left;
    line-height: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
    @media (max-width: 870px) {
      .models .model p {
        font-size: 0.9em; } }
    @media (max-width: 580px) {
      .models .model p {
        line-height: 1.5em; } }
  .models .model .img_model1, .models .model .img_model2 {
    position: relative;
    width: 300px;
    height: 400px;
    background: url(../images/model1.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  .models .model .img_model2 {
    background: url(../images/model5.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  .models .model .button2 {
    position: relative;
    top: 4em;
    background-color: white;
    border: 2px solid black;
    padding: 5% 8%;
    display: block;
    clear: both;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    z-index: 100; }
    .models .model .button2:hover {
      background-color: black; }
      .models .model .button2:hover a {
        color: white; }
  .models .model .description {
    padding: 0 3%; }
  .models .model .models-numbers {
    opacity: 0.5; }

.model-mobile {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/model9.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .model-mobile h3 {
    position: absolute;
    top: 15%;
    right: 10%;
    font-family: "Open Sans", sans-serif;
    font-size: 2em; }
  @media (max-width: 580px) {
    .model-mobile {
      display: block; } }

.contact {
  position: relative;
  width: 100%;
  margin: auto;
  height: 34em; }
  @media (max-width: 1250px) {
    .contact {
      height: 32em; } }
  @media (max-width: 580px) {
    .contact {
      height: 100%; } }
  .contact h2 {
    text-align: center;
    padding: 5%; }
    @media (max-width: 580px) {
      .contact h2 {
        padding: 20% 0; } }
  .contact p {
    padding: 1ex;
    margin: 1em 0;
    border: 1px solid #feeaea; }
    .contact p label {
      padding: 0 1em; }
  .contact .data {
    width: 30%;
    margin: auto; }
    @media (max-width: 1250px) {
      .contact .data {
        width: 40%; } }
    @media (max-width: 870px) {
      .contact .data {
        width: 50%; } }
    @media (max-width: 580px) {
      .contact .data {
        width: 90%; } }
  .contact button {
    background-color: #2b2b2b;
    color: white;
    font-size: 1em;
    width: 100%;
    padding: 1em 0; }
    .contact button:hover {
      background-color: #eafefe;
      color: black; }

.news {
  position: relative;
  width: 100%;
  height: 34em;
  background-color: #feeaea; }
  @media (max-width: 1250px) {
    .news {
      height: 30em; } }
  @media (max-width: 580px) {
    .news {
      height: 100%; } }
  .news img {
    position: absolute;
    left: 0;
    bottom: 0; }
    @media (max-width: 1250px) {
      .news img {
        max-height: 33em; } }
    @media (max-width: 870px) {
      .news img {
        display: none; } }
  .news h2 {
    text-align: center;
    padding: 5%; }
    @media (max-width: 870px) {
      .news h2 {
        padding-top: 10%; } }
    @media (max-width: 580px) {
      .news h2 {
        padding: 20% 0; } }
  .news .blue-box {
    background-color: #eafefe;
    width: 80%;
    margin: auto; }
    @media (max-width: 870px) {
      .news .blue-box {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); } }
    .news .blue-box .news-info {
      padding: 5% 5% 5% 25%; }
      @media (max-width: 1250px) {
        .news .blue-box .news-info {
          padding-left: 35%; } }
      @media (max-width: 870px) {
        .news .blue-box .news-info {
          padding: 5%;
          text-align: center; } }
      .news .blue-box .news-info h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: bold; }
      .news .blue-box .news-info h4 {
        color: hotpink; }
      .news .blue-box .news-info p {
        font-size: 0.8em;
        color: darkgray;
        line-height: 1.5em; }
      .news .blue-box .news-info button {
        background-color: #2b2b2b;
        color: white;
        padding: 0.9em 1.4em;
        margin: 1em 0;
        font-size: 0.7em; }
        .news .blue-box .news-info button:hover {
          background-color: white;
          color: black; }
  .news .icon-horizontal {
    position: absolute;
    bottom: 5%;
    left: 45%;
    margin: 0; }
    @media (max-width: 870px) {
      .news .icon-horizontal {
        left: 40%;
        bottom: 10%; } }
    @media (max-width: 580px) {
      .news .icon-horizontal {
        left: 30%; } }

footer {
  position: relative;
  width: 100%;
  height: 8em; }
  @media (max-width: 580px) {
    footer {
      height: 100%; } }
  footer p {
    position: absolute;
    left: 10%;
    top: 10%;
    color: #585858;
    font-size: 0.9em; }
    @media (max-width: 1250px) {
      footer p {
        left: 5%; } }
    @media (max-width: 580px) {
      footer p {
        position: relative;
        top: 0;
        left: 0;
        padding: 15% 5%;
        text-align: center;
        font-size: 1em; } }
  footer .icons-social {
    position: absolute;
    right: 10%;
    bottom: 2em; }
    @media (max-width: 1250px) {
      footer .icons-social {
        right: 5%; } }
    @media (max-width: 580px) {
      footer .icons-social {
        position: relative;
        top: 0;
        left: 0;
        padding: 15% 5% 15% 20%; } }
    footer .icons-social i {
      font-size: 1.5em;
      color: #585858;
      padding-left: 1em; }
      footer .icons-social i:hover {
        color: #ff80b2; }
      @media (max-width: 580px) {
        footer .icons-social i {
          font-size: 2em; } }
  footer img {
    position: absolute;
    left: 10%;
    bottom: 1em;
    width: 8em; }
    @media (max-width: 1250px) {
      footer img {
        left: 5%; } }
    @media (max-width: 580px) {
      footer img {
        position: relative;
        padding: 15% 0; } }

.icon-horizontal {
  margin: 0 0 5% 0; }
  @media (max-width: 580px) {
    .icon-horizontal {
      margin: 5% 0 0 30%; } }
  .icon-horizontal .diamond {
    display: inline-block;
    margin: 0 0 0 1em; }

.icon-horizontal2 {
  position: absolute;
  top: 10%;
  right: 11%; }
  .icon-horizontal2 .diamond {
    display: inline-block;
    margin: 0 0 0 1em; }

@media (max-width: 580px) {
  .icon-vertical {
    position: relative;
    margin: 5% 0 5% 15%; } }
@media (max-width: 580px) {
  .icon-vertical .diamond {
    display: inline-block;
    margin: 1em; } }

.diamond {
  width: 15px;
  height: 15px;
  background-color: black;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  margin: 1em;
  border: 0;
  box-shadow: 0; }
  .diamond:hover {
    background-color: #ff80b2; }

.diamond-border {
  background-color: #ff80b2;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 0 3px #ff80b2;
  box-shadow: 0 0 0 3px #ff80b2; }

/* -----------------------------------Responsive----------------------------------------------- */
/* ------------------ For desktop extra large ------------------------- */
@media only screen and (min-width: 1801px) {
  .col-l1 {
    width: 8.33%; }

  .col-l2 {
    width: 16.66%; }

  .col-l3 {
    width: 25%; }

  .col-l4 {
    width: 33.33%; }

  .col-l5 {
    width: 41.66%; }

  .col-l6 {
    width: 50%; }

  .col-l7 {
    width: 58.33%; }

  .col-l8 {
    width: 66.66%; }

  .col-l9 {
    width: 75%; }

  .col-l10 {
    width: 83.33%; }

  .col-l11 {
    width: 91.66%; }

  .col-l12 {
    width: 100%; } }
/* ------------------ For desktop large ------------------------ */
@media only screen and (min-width: 1251px) and (max-width: 1800px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
/* ------------------ For tablets - horizontal (medium) ------------------------- */
@media only screen and (min-width: 871px) and (max-width: 1250px) {
  .col-s1 {
    width: 8.33%; }

  .col-s2 {
    width: 16.66%; }

  .col-s3 {
    width: 25%; }

  .col-s4 {
    width: 33.33%; }

  .col-s5 {
    width: 41.66%; }

  .col-s6 {
    width: 50%; }

  .col-s7 {
    width: 58.33%; }

  .col-s8 {
    width: 66.66%; }

  .col-s9 {
    width: 75%; }

  .col-s10 {
    width: 83.33%; }

  .col-s11 {
    width: 91.66%; }

  .col-s12 {
    width: 100%; } }
/* ----------------------- For tablets - vertical  (small) ------------------------- */
@media only screen and (min-width: 581px) and (max-width: 870px) {
  .col-s1 {
    width: 8.33%; }

  .col-s2 {
    width: 16.66%; }

  .col-s3 {
    width: 25%; }

  .col-s4 {
    width: 33.33%; }

  .col-s5 {
    width: 41.66%; }

  .col-s6 {
    width: 50%; }

  .col-s7 {
    width: 58.33%; }

  .col-s8 {
    width: 66.66%; }

  .col-s9 {
    width: 75%; }

  .col-s10 {
    width: 83.33%; }

  .col-s11 {
    width: 91.66%; }

  .col-s12 {
    width: 100%; }

  .col-xs1 {
    width: 8.33%; }

  .col-xs10 {
    width: 83.33%; } }
/* ------------------------------ For mobile phones (xsmall)----------------------------- */
@media only screen and (min-width: 330px) and (max-width: 580px) {
  .col-xs1 {
    width: 8.33%; }

  .col-xs10 {
    width: 83.33%; }

  .col-xs6 {
    width: 50%; } }

/*# sourceMappingURL=index.css.map */
