/* ------------------Reset--------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse; }

img {
  vertical-align: top; }

embed {
  vertical-align: top; }

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block; }

mark, rp, rt, ruby, summary, time {
  display: inline; }

input, textarea {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0; }

iframe {
  border: 0;
  margin: 0;
  padding: 0; }

input, textarea, select {
  margin: 0;
  padding: 0; }

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0; }

/* ------------------Variables-------------------- */
/* --------------------Global--------------------- */
* {
  box-sizing: border-box; }

[class*="col-"] {
  position: relative;
  float: left; }
  @media (max-width: 580px) {
    [class*="col-"] {
      width: 100%; } }

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  min-width: 20em; }

.row {
  position: relative;
  width: 100%;
  clear: both; }

a {
  text-decoration: none;
  color: black; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto; }

.title {
  font-size: 3em;
  line-height: 1em;
  font-family: "Cormorant Garamond", serif; }
  @media (max-width: 1250px) {
    .title {
      font-size: 2em; } }
  @media (max-width: 580px) {
    .title {
      text-align: center;
      padding: 5% 0; } }

@media (max-width: 870px) {
  .subtitle {
    font-size: 0.8em;
    line-height: 1.5em; } }

@media (max-width: 1250px) {
  .text {
    font-size: 0.8em; } }

/* ------------------Header-------------------- */
.minimenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: #eafefe;
  z-index: 100;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); }
  .minimenu i {
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: 30px;
    /*it doesn't work with em*/
    cursor: pointer; }
    .minimenu i:hover {
      color: white; }
    @media (max-width: 1250px) {
      .minimenu i {
        right: 5%; } }

.logo {
  position: absolute;
  top: -5px;
  /*use of px for negative value*/
  left: 10%; }
  @media (max-width: 1250px) {
    .logo {
      left: 5%; } }
  .logo h2 {
    font-family: "Megrim", cursive;
    font-size: 4em; }

.menu {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 10;
  cursor: pointer; }
  @media (max-width: 870px) {
    .menu {
      left: 30%; } }
  @media (max-width: 580px) {
    .menu {
      display: none; } }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu ul li {
      display: inline-block;
      padding: 0 1.5em; }
      .menu ul li a:hover {
        color: white; }

/* ------------------Content------------------- */
.home {
  position: relative; }
  @media (max-width: 580px) {
    .home {
      top: 3em; } }
  .home img {
    width: 100%;
    height: auto; }

.caption {
  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 10; }
  @media (max-width: 1250px) {
    .caption {
      top: 30%;
      left: 5%; } }
  @media (max-width: 580px) {
    .caption {
      height: 22em;
      position: relative;
      top: 0;
      left: 0;
      padding: 5%;
      text-align: justify; } }

.button {
  margin-top: 3em; }
  @media (max-width: 1250px) {
    .button {
      margin-top: 2em; } }
  @media (max-width: 870px) {
    .button {
      display: none; } }
  @media (max-width: 580px) {
    .button {
      display: block;
      margin: 5% 0 5% 25%; } }
  .button a {
    background-color: #eafefe;
    padding: 0.8em 1.8em; }
    .button a:hover {
      color: white;
      background-color: black; }

#about {
  height: 18em; }
  @media (max-width: 1250px) {
    #about {
      height: 11em; } }
  @media (max-width: 580px) {
    #about {
      height: 13em; } }

.about {
  position: relative;
  height: 35em;
  text-align: right;
  padding: 0 10% 0 10%; }
  @media (max-width: 1250px) {
    .about {
      padding: 0 5% 0 5%;
      height: 25em; } }
  @media (max-width: 870px) {
    .about {
      height: 22em; } }
  @media (max-width: 580px) {
    .about {
      height: 18em;
      text-align: justify; } }
  .about h2 {
    padding: 10% 0 5% 0; }
  .about p {
    line-height: 2.5em; }
    @media (max-width: 1250px) {
      .about p {
        line-height: 2em; } }
    @media (max-width: 580px) {
      .about p {
        line-height: 1.5em; } }
  .about img {
    margin: 0; }
    @media (max-width: 580px) {
      .about img {
        display: none; } }

.also {
  position: relative;
  height: 40em;
  text-align: left;
  padding: 0 10% 0 10%; }
  @media (max-width: 1250px) {
    .also {
      padding: 0 5% 0 5%;
      height: 31em; } }
  @media (max-width: 870px) {
    .also {
      height: 22em; } }
  @media (max-width: 580px) {
    .also {
      height: 40em;
      text-align: justify; } }
  .also h2 {
    margin: 10% 0 5% 0; }
  .also p {
    padding: 0 5% 5% 0;
    line-height: 2.5em; }
    @media (max-width: 1250px) {
      .also p {
        line-height: 2em; } }
    @media (max-width: 580px) {
      .also p {
        line-height: 1.5em;
        padding: 0 0 5% 0; } }
  .also img {
    margin: 0;
    position: absolute;
    right: 0; }
    @media (max-width: 1250px) {
      .also img {
        max-height: 500px; } }
    @media (max-width: 870px) {
      .also img {
        max-height: 380px; } }
    @media (max-width: 580px) {
      .also img {
        max-height: 100%;
        position: relative;
        display: block;
        margin: auto;
        width: 100%; } }

.models {
  width: 50%;
  margin: auto; }
  @media (max-width: 1250px) {
    .models {
      width: 60%; } }
  @media (max-width: 870px) {
    .models {
      width: 80%; } }
  @media (max-width: 580px) {
    .models {
      width: 90%; } }
  .models h2 {
    text-align: center;
    padding: 10%; }
  .models h3 {
    font-size: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding: 5%; }
    @media (max-width: 580px) {
      .models h3 {
        text-align: center; } }
  .models p {
    width: 50%;
    float: left;
    line-height: 2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
    @media (max-width: 580px) {
      .models p {
        font-size: 0.9em;
        line-height: 1.5em;
        width: 50%; } }
  @media (max-width: 1250px) {
    .models img {
      max-height: 400px; } }
  @media (max-width: 580px) {
    .models img {
      max-height: 100%;
      width: 100%; } }

.models-numbers {
  opacity: 0.5; }

.elizabeth, .lynee {
  position: relative;
  height: 35em;
  padding-bottom: 5%; }
  @media (max-width: 1250px) {
    .elizabeth, .lynee {
      height: 28em; } }
  @media (max-width: 580px) {
    .elizabeth, .lynee {
      height: 42em; } }

.lynee {
  text-align: right; }
  @media (max-width: 580px) {
    .lynee {
      height: 45em;
      text-align: left;
      padding-bottom: 10%; } }

.icon-horizontal {
  margin: 0 0 5% 0; }
  @media (max-width: 580px) {
    .icon-horizontal {
      margin: 5% 0 0 30%; } }
  .icon-horizontal button {
    background-color: transparent;
    cursor: pointer; }
  .icon-horizontal i {
    font-size: 1.8em;
    margin: 0.2em; }

@media (max-width: 580px) {
  .icon-vertical, .icon-vertical-right {
    position: relative;
    margin: 5% 0 5% 30%; } }
.icon-vertical button, .icon-vertical-right button {
  display: block;
  background-color: transparent;
  cursor: pointer; }
  @media (max-width: 580px) {
    .icon-vertical button, .icon-vertical-right button {
      display: inline-block; } }
.icon-vertical i, .icon-vertical-right i {
  font-size: 1.8em;
  margin: 0.2em; }

.icon-vertical-right {
  position: absolute;
  right: 0; }
  @media (max-width: 580px) {
    .icon-vertical-right {
      position: relative;
      margin: 5% 0 5% 30%; } }

#icon-h1, #icon-v1, #icon-v5 {
  color: #ff80b2; }

/* -----------------------------------Responsive----------------------------------------------- */
/* ------------------ For desktop extra large ------------------------- */
@media only screen and (min-width: 1801px) {
  .col-l1 {
    width: 8.33%; }

  .col-l2 {
    width: 16.66%; }

  .col-l3 {
    width: 25%; }

  .col-l4 {
    width: 33.33%; }

  .col-l5 {
    width: 41.66%; }

  .col-l6 {
    width: 50%; }

  .col-l7 {
    width: 58.33%; }

  .col-l8 {
    width: 66.66%; }

  .col-l9 {
    width: 75%; }

  .col-l10 {
    width: 83.33%; }

  .col-l11 {
    width: 91.66%; }

  .col-l12 {
    width: 100%; } }
/* ------------------ For desktop large ------------------------ */
@media only screen and (min-width: 1251px) and (max-width: 1800px) {
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
/* ------------------ For tablets - horizontal (medium) ------------------------- */
@media only screen and (min-width: 871px) and (max-width: 1250px) {
  .col-s1 {
    width: 8.33%; }

  .col-s2 {
    width: 16.66%; }

  .col-s3 {
    width: 25%; }

  .col-s4 {
    width: 33.33%; }

  .col-s5 {
    width: 41.66%; }

  .col-s6 {
    width: 50%; }

  .col-s7 {
    width: 58.33%; }

  .col-s8 {
    width: 66.66%; }

  .col-s9 {
    width: 75%; }

  .col-s10 {
    width: 83.33%; }

  .col-s11 {
    width: 91.66%; }

  .col-s12 {
    width: 100%; } }
/* ----------------------- For tablets - vertical  (small) ------------------------- */
@media only screen and (min-width: 581px) and (max-width: 870px) {
  .col-s1 {
    width: 8.33%; }

  .col-s2 {
    width: 16.66%; }

  .col-s3 {
    width: 25%; }

  .col-s4 {
    width: 33.33%; }

  .col-s5 {
    width: 41.66%; }

  .col-s6 {
    width: 50%; }

  .col-s7 {
    width: 58.33%; }

  .col-s8 {
    width: 66.66%; }

  .col-s9 {
    width: 75%; }

  .col-s10 {
    width: 83.33%; }

  .col-s11 {
    width: 91.66%; }

  .col-s12 {
    width: 100%; }

  .col-xs1 {
    width: 8.33%; }

  .col-xs10 {
    width: 83.33%; } }
/* ------------------------------ For mobile phones (xsmall)----------------------------- */
@media only screen and (min-width: 330px) and (max-width: 580px) {
  .col-xs1 {
    width: 8.33%; }

  .col-xs10 {
    width: 83.33%; }

  .col-xs6 {
    width: 50%; } }

/*# sourceMappingURL=index.css.map */
