/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0;}
*{border:0; padding:0; margin:0; outline: 0;}

/* ------------------Variables-------------------- */
$font_title:'Cormorant Garamond', serif;
$font_text:'Poppins', sans-serif;
$font_modelname: 'Open Sans', sans-serif;
$pink:#ff80b2;
$light_pink:#feeaea;
$light_blue:#eafefe;
$dark_gray:#585858;

$bp-large:    1800px;
$bp-medium:   1250px;
$bp-small:    870px;
$bp-xsmall:   580px;
$bp-minimum:  320px;

@mixin breakpoint($bp){
  @if ($bp == large){
    @media (max-width: $bp-large){ @content }
  }

  @else if ($bp == medium){
    @media (max-width: $bp-medium){ @content }
  }

  @else if ($bp == small){
    @media (max-width: $bp-small){ @content }
  }

  @else if ($bp == xsmall){
    @media (max-width: $bp-xsmall){ @content }
  }

  @else if ($bp == minimum){
    @media (max-width: $bp-minimum){ @content }
  }
}


/* --------------------Global--------------------- */
* {
  box-sizing: border-box;
}
[class*="col-"] {
  position:relative;
  float: left;
  @include breakpoint(xsmall){
    width: 100%;
  }
}
body {
  background-color: white;
  color: black;
  font-family: $font_text;
  font-size: 1em;
  min-width: 320px;
}
.row {
  position:relative;
  width:100%;
  clear:both;
}
a{
  text-decoration: none;
  color:black;
}
img {
  max-width:100%;
  height:auto;
  display: block;
  margin: auto;
}
.title {
  font-size:3em;
  line-height:1em;
  font-family: $font_title;
  @include breakpoint(medium){
    font-size: 2em;
  }
  @include breakpoint(xsmall){
    text-align:center;
    padding: 5% 0;
  }

}
.subtitle{
  @include breakpoint(small){
    font-size:0.8em;
    line-height: 1.5em;
  }
}
.text{
  @include breakpoint(medium){
    font-size:0.8em;
  }
}

/* ------------------Header-------------------- */
.minimenu{
  width: 100%;
  height: 4em;
  background-color: $light_pink;
  i{
    position: absolute;
    top:20%;
    right: 10%;
    font-size: 30px; /*it doesn't work with em*/
    cursor: pointer;
    &:hover {
      color:white;
    }
    @include breakpoint(medium){
      right: 5%;
    }
  }
}
.logo {
  position:absolute;
  left:10%;
  @include breakpoint(medium){
    left:5%;
  }
}


/* ------------------Content------------------- */
.home {
  position:relative;
  img {
    width:100%;
    height:auto;
  }
}
.caption {
  position: absolute;
  top: 25%;
  left:10%;
  z-index: 10;
  @include breakpoint(medium){
    left:5%;
  }
  @include breakpoint(xsmall){
    height: 22em;
    position:relative;
    top:0;
    left:0;
    padding:5%;
    text-align:justify;
  }
}
.button {
  margin-top:3em;
  @include breakpoint(medium){
    margin-top:2em;
  }
  @include breakpoint(small){
    display: none;
  }
  @include breakpoint(xsmall){
    display: block;
    margin:5% 0 5% 25%;
  }
  a {
    background-color: $light_blue;
    padding:0.8em 1.8em;
    &:hover {
      color:white;
      background-color:black;
    }
  }
}

#about{
  height: 18em;
  @include breakpoint(medium){
    height:11em;
  }
  @include breakpoint(small){
    height:14em;
  }
}
.about {
  position:relative;
  height:35em;
  text-align:right;
  padding: 0 10% 0 10%;
  @include breakpoint(medium){
    padding: 0 5% 0 5%;
    height:25em;
  }
  @include breakpoint(small){
    height: 22em;
  }
  @include breakpoint(xsmall){
    height:18em;
    text-align:justify;
  }
  h2{
    padding: 10% 0 5% 0;
  }
  p {
    line-height: 2.5em;
    @include breakpoint(medium){
      line-height:2em;
    }
    @include breakpoint(xsmall){
      line-height: 1.5em;
    }
  }
  img {
    margin: 0;
    @include breakpoint(xsmall){
      display:none;
    }
  }
}
.also {
  position:relative;
  height:40em;
  text-align:left;
  padding: 0 10% 0 10%;
  @include breakpoint(medium){
    padding: 0 5% 0 5%;
    height:31em;
  }
  @include breakpoint(small){
    height:22em;
  }
  @include breakpoint(xsmall){
    height:50em;
    text-align:justify;
  }
  h2 {
    margin:10% 0 5% 0;
  }
  p {
    padding:0 5% 5% 0;
    line-height:2.5em;
    @include breakpoint(medium){
      line-height:2em;
    }
    @include breakpoint(xsmall){
      line-height: 1.5em;
      padding:0 0 5% 0;
    }
  }
  img{
    margin: 0;
    position: absolute;
    right: 0;
    @include breakpoint(medium){
      max-height: 500px;
    }
    @include breakpoint(small){
      max-height: 380px;
    }
    @include breakpoint(xsmall){
      max-height: 100%;
      position: relative;
      display: block;
      margin: auto;
      width: 100%;
    }
  }
}
.models {
  h2{
    text-align: center;
    padding: 5%;
  }
  @include breakpoint(xsmall){
    display: none;
  }
}
.model {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;

  position: relative;
  height: 30em;
  padding-bottom: 5%;
  @include breakpoint(medium){
    height: 28em;
  }
  @include breakpoint(xsmall){
    height: 45em;
    display: block;

  }
  h3 {
    font-size:2em;
    font-family: $font_modelname;
    font-weight:300;
    padding: 5% 5% 5% 0;
    @include breakpoint(xsmall){
      text-align:center;
    }
  }
  p {
    width: 80px;
    float: left;
    line-height:2em;
    font-family: $font_modelname;
    font-weight:300;
    @include breakpoint(xsmall){
      font-size: 0.9em;
      line-height:1.5em;
    }
  }
  img {
    padding: 0 1%;
    max-height: 400px;
    margin: 0;
    @include breakpoint(xsmall){
      width: 100%;
      min-height: 100%;
    }
  }
}

.model-mobile{
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/model9.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h3 {
    position: absolute;
    top: 15%;
    right: 10%;
    font-family: $font_modelname;
    font-size: 2em;
    text-shadow: 2px 2px 8px white;
  }
  @include breakpoint(xsmall){
    display: block;
  }
}

#img_model1 {
  position: relative;
  width: 300px;
  height: 400px;
  background: url(../images/model1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint(xsmall){
    width: 100%;
    height: 100%;
  }
}

#img_model2 {
  position: relative;
  width: 300px;
  height: 400px;
  background: url(../images/model5.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include breakpoint(xsmall){
    width: 100%;
    height: 100%;
  }
}



.description{
  padding: 0 3%;
}
.models-numbers {
  opacity:0.5
}
.button2{
  position: relative;
  top: 4em;
  background-color: white;
  border: 2px solid black;
  padding: 5% 8%;
  display: block;
  clear: both;
  font-family: $font_modelname;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: black;
    a{
      color: white;
    }
  }
}

.icon-horizontal {
  margin:0 0 5% 0;
  @include breakpoint(xsmall){
    margin:5% 0 0 30%;
  }
  .diamond{
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

.icon-horizontal2 {
  position: absolute;
  top: 10%;
  right: 11%;
  .diamond{
    display: inline-block;
    margin: 0 0 0 1em;
  }

}


#icon-h1, #icon-v1, #icon-v5 {
  background:$pink;
}

.icon-vertical{
  @include breakpoint(xsmall){
    position: relative;
    margin:5% 0 5% 15%;
  }
  .diamond {
    @include breakpoint(xsmall){
      display: inline-block;
      margin: 1em;
    }
  }
}

.diamond {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  margin: 1.5em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: black;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(-45deg)   ;
  -webkit-transform-origin: 0 100% 0deg;
  transform-origin: 0 100% 0deg;
  &:hover {
    background: $pink;
  }
}




/* -----------------------------------Responsive----------------------------------------------- */
/* ------------------ For desktop extra large ------------------------- */
@media only screen and (min-width: 1801px){
  .col-l1 {
    width: 8.33%;
  }
  .col-l2 {
    width: 16.66%;
  }
  .col-l3 {
    width: 25%;
  }
  .col-l4 {
    width: 33.33%;
  }
  .col-l5 {
    width: 41.66%;
  }
  .col-l6 {
    width: 50%;
  }
  .col-l7 {
    width: 58.33%;
  }
  .col-l8 {
    width: 66.66%;
  }
  .col-l9 {
    width: 75%;
  }
  .col-l10 {
    width: 83.33%;
  }
  .col-l11 {
    width: 91.66%;
  }
  .col-l12 {
    width: 100%;
  }
}
/* ------------------ For desktop large ------------------------ */
@media only screen and (min-width: 1251px) and (max-width: 1800px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
/* ------------------ For tablets - horizontal (medium) ------------------------- */
@media only screen and (min-width: 871px) and (max-width: 1250px) {
  .col-s1 {
    width: 8.33%;
  }
  .col-s2 {
    width: 16.66%;
  }
  .col-s3 {
    width: 25%;
  }
  .col-s4 {
    width: 33.33%;
  }
  .col-s5 {
    width: 41.66%;
  }
  .col-s6 {
    width: 50%;
  }
  .col-s7 {
    width: 58.33%;
  }
  .col-s8 {
    width: 66.66%;
  }
  .col-s9 {
    width: 75%;
  }
  .col-s10 {
    width: 83.33%;
  }
  .col-s11 {
    width: 91.66%;
  }
  .col-s12 {
    width: 100%;
  }
}
/* ----------------------- For tablets - vertical  (small) ------------------------- */
@media only screen and (min-width: 581px) and (max-width: 870px) {
  .col-s1 {
    width: 8.33%;
  }
  .col-s2 {
    width: 16.66%;
  }
  .col-s3 {
    width: 25%;
  }
  .col-s4 {
    width: 33.33%;
  }
  .col-s5 {
    width: 41.66%;
  }
  .col-s6 {
    width: 50%;
  }
  .col-s7 {
    width: 58.33%;
  }
  .col-s8 {
    width: 66.66%;
  }
  .col-s9 {
    width: 75%;
  }
  .col-s10 {
    width: 83.33%;
  }
  .col-s11 {
    width: 91.66%;
  }
  .col-s12 {
    width: 100%;
  }
  .col-xs1{
    width:8.33%
  }
  .col-xs10{
    width:83.33%
  }
}
/* ------------------------------ For mobile phones (xsmall)----------------------------- */
@media only screen and (min-width: 330px) and (max-width: 580px) {
  .col-xs1{
    width:8.33%
  }
  .col-xs10{
    width:83.33%
  }
  .col-xs6{
    width:50%
  }
}

